$maroon : #7777bb;

.intro-loader {
  padding: 40px;
  text-align: center;
  background-color: $maroon;
  color : white;
   h1 {
     text-transform: uppercase;
   }
}


.about {
  background-color: #333;
  color : white;
}
.navbar-nav {
  float: right;
  .nav-link {
    display: inline-block;
    margin-right: 10px;
  }
}

.section {
  padding : 60px 0;
}

footer {
  padding : 20px;
  text-align : center;
  
}
